/* banner start*/
.banner {
  background: url(https://images.unsplash.com/photo-1463797221720-6b07e6426c24?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat center center;
  background-size: cover;
  padding-top: 13.9%;
  padding-bottom: 13.9%;
  color: #fff;
}

.banner h1 {
  color: #000000;
}

.banner h4 {
  color: #1321e2;
}

.banner .social ul {
  display: flex;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}

.banner .social ul li a {
  text-decoration: none;
}
/* banner end */

/* container start*/
.about {
  background: url(https://images.unsplash.com/photo-1479832793815-b9be4c77023e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.circle {
  display: inline-block;
  border-radius: 50%;
  width: 165px;
  margin: auto;
  height: 165px;
  color: #fff;
  background-color: #dc3545;
}

.circle i {
  position: relative;
  top: 35px;
}

.fb {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
}

.fb i {
  position: relative;
  top: 30px;
}

.circle-2 {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #0d6efd;
}

.circle-2 i {
  position: relative;
  top: 30px;
}

.fe {
  display: inline-block;
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  color: #fff;
  background-color: #ffc107;
}

.fe i {
  position: relative;
  top: 30px;
}

/* our menu */
.our-menu img {
  width: 250px;
  height: 250px;
  border: 10px solid #8b6969cc;
}

a.social {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  background-color: #010101;
  line-height: 40px;
}

.contact {
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 20%;
  color: #fff;
}
